[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
uuid = { version = "1.20.0", features = ["serde"] }
chrono = { version = "0.4.43", features = ["serde"] }
